<!-- <!-- <br/><br/>
<div class='index_titles'><b>Log In</b></div>
<br/> -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Title goes here</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main-out">
<div class="main">
<div class="page">
<div class="top">
<div class="header">
<div class="header-top">
<h1><img src="assets/cnr_logo.png" alt="" height="60"
 width="70"></div></h1>
<p></p>
</div>
<div class="topmenu">
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="#">About&nbsp;Us</a></li>
  <li><a href="#">What's&nbsp;New</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Login</a></li>
 <!-- <li><a href="#">Links</a></li> -->
</ul>
</div>
<div class="header-img">
<h2>PharmaEqui</h2>
</div>
</div>
<div class="content">
<div class="content-left">
<div class="row1">
<div class="img"><img src="assets/lab.jpg" alt="" height="111"
 width="157"></div>
 
 
<div class="welcome">
<h1 class="title">Welcome to <span>Our Project</span></h1>
<p><strong>Lorem Ipsum is simply dummy text of the printing and
typesetting industry.</strong><br>
Lorem Ipsum has been the industry's standard dummy text ever since the
1500s, when an unknown printer took a galley of type and scrambled it
to make a type specimen book. It has survived not only five centuries,
but also the leap into electronic typesetting, remaining essentially
unchanged. sn book. It has survived not only five centuries, but also
the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>
</div>
<div class="row2">
<div class="section1">
<h2 class="subtitle">What&#8217;s New</h2>
<p><strong>Lorem Ipsum is simply dummy text of the<br>
printing and typesetting industry.</strong><br>
Lorem Ipsum has been the industry's standard<br>
dummy text ever since the 1500s, when an<br>
unknown printer took a galley of type and</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="#" class="more">read more</a></p>
</div>
<div class="section2">
<h2 class="subtitle">Resources</h2>
<p><strong>Lorem Ipsum is simply dummy text of the printing and
typesetting industry.</strong><br>
Lorem Ipsum has been the industry's standard dummy text ever since the
1500s, when an unknown printer took a galley of type and scrambled it
to make a type specimen book. It has survived not only five centuries,
but</p>
<p>&nbsp;</p>
<p><a href="#" class="more">read more</a></p>
</div>
</div>
</div>
<div class="content-right">
<h2>Log in</h2>
<%= debug params%>
<%= render 'form'%>

</div>
</div>
</div>
<div class="bottom">
<ul>
  <li style="border-left: medium none;"><a href="index.html">Home</a></li>
  <li><a href="#">About&nbsp;Us</a></li>
  <li><a href="#">What's&nbsp;New</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Login</a></li>
  <li><a href="#">Links</a></li>
</ul>
<!--DO NOT Remove The Footer Links-->
<p>&copy; 2014 <a target="_blank"
 href="http://www.cnr.it/istituti/DatiGenerali.html?cds=116">CNR-IFT</a></p>
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="assets/footnote.gif" class="copyright" alt="htmltemplates.net"></a></div>
<!--In partnership with--><a href="http://websitetemplates.net">
<img src="assets/footnote.gif" class="copyright" alt="websitetemplates.net"></a>
<!--DO NOT Remove The Footer Links-->
</div>
</div>
</div>
</body>
</html> -->