<div class="bottom">
<ul>
  <li style="border-left: medium none;"><a href="index.html">Home</a></li>
  <li><a href="#">About&nbsp;Us</a></li>
  <li><a href="#">What's&nbsp;New</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Login</a></li>
  <li><a href="#">Links</a></li>
</ul>

<p>&copy; 2014 <a href="http://www.cnr.it/istituti/DatiGenerali.html?cds=116" target="_blank">CNR-IFT</a></p>