<div class='top'>
<div class="header">
    <div class="header-top">
		<h1><img width="70" height="60" alt="" src="../../assets/cnr_logo.png"></h1></div>
					<p></p>
	</div>
    <div class="topmenu">
      <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Users</a></li>
      <li><a href="#">Active&nbsp;Ingredients</a></li>
      <li><a href="#">Drugs</a></li>
      <li><a href="#">Services</a></li>
      <li>
      	<a href="#">
      		<!-- <%if current_user%> 
      			Logged in as <%=get_user_name(current_user)%>
      	  <%end%> -->
      	</a>  	
      </li>
      </ul>
    </div>
    <div class="shared-header-img">
      <h2>PharmaEqui</h2>
    </div>
</div>
</div>